html,
body {
  font-family: 'Times New Roman';
  background-color: lightgray;
  margin-top: 1rem;
  margin-left: 2rem;
}

/*FORM*/
form {
  width: 95%;
  padding: 0.75em;
}

/*LOGO SECTION*/
.logo {
  width: 8%;
  height: 8%;
  border-radius: 5%;
  border: solid goldenrod 2px;
}

/*NAVIGATION BAR*/
.navigation-bar {
  display: inline-block;
  background-color: black;
  float: right;
  vertical-align: middle;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: solid goldenrod 2px;
  font-size: 2em;
  font-weight: bold;
}
.nav-item {
  padding: 0.5em;
  text-decoration: none;
  color: goldenrod;
}

/*HEADING SECTION*/
.heading-section {
  width: 60%;
  margin-top: 3rem;
}
.main-heading {
  font-size: 2rem;
}
.text {
  font-size: 1.2rem;
  text-align: justify;
}
.step-text {
  font-size: 1.5rem;
}

/*PROGRESS BAR*/
.progress-bar-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.progress-bar {
  height: 2.5rem;
  width: 100%;
}
.progress-bar:not([value]) {
  background-color: black;
}
.progress-bar[value] {
  background-color: goldenrod;
}

/*LABEL & TEXT BOXES*/
.details,
.ship-details {
  margin-bottom: 2rem;
}
label {
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-block;
  width: 12rem;
  text-align: right;
  padding-left: 1rem;
}
.details-data {
  border: 1px solid black;
  line-height: 2.5rem;
  font-size: 1.25rem;
  width: 30%;
}
.details-data-sm {
  border: 1px solid black;
  line-height: 2.5rem;
  font-size: 1.25rem;
  width: 5%;
}
#countryname {
  padding: 0.5rem;
}

#profile-text {
  display: inline-block;
}
.profile-info {
  font-size: 1rem;
  font-style: italic;
  padding-left: 2rem;
  text-align: center;
}
.profile-data {
  display: inline;
  position: absolute;
  border: 1px solid black;
  line-height: 10rem;
  font-size: 1.25rem;
  width: 68%;
}
#toggle {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}
#toggle:checked ~ .ship-details {
  display: none;
}
#toggle1 {
  width: 2rem;
  height: 2rem;
  background-color: white;
  outline-style: solid;
  outline-color: gray;
}

/*BUTTON*/
button {
  width: 20%;
  background-color: darkgreen;
  color: white;
  padding: 3rem 1.5rem;
  margin-right: 2rem;
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

/*PREFERENCES FORM*/
.choices {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.choices-list {
  display: inline;
}
.image {
  padding-left: 1rem;
  margin-right: 1.5rem;
  width: 12rem;
  height: 12rem;
}
