.App {
  text-align: center;
}
body {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  text-align: center;
  border: 2px solid darkolivegreen;
}
.main-todo {
  padding: 2%;
  color: darkolivegreen;
}
.input-text {
  border: 2px solid darkolivegreen;
  padding: 1%;
  margin-right: 2%;
}
h1 {
  margin: 0;
  padding: 0;
  border: 2px solid darkolivegreen;
  color: darkolivegreen;
}
.timer {
  background-color: darkolivegreen;
  color: white;
  padding: 2%;
}
.description[data-toggled='true'] {
  text-decoration: line-through;
}

.list {
  list-style-type: upper-roman;
}

ol.in li {
  list-style-position: inside;
}
.list-row {
  padding: 2%;
}
button {
  background-color: darkolivegreen;
  color: white;
  padding: 2%;
  font-weight: bold;
}
.description {
  padding-right: 20%;
  margin: 0;
}
